<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Stop being the Grunt - use Grunt.js</title>

        <meta name="description" content="A presentation telling what Grunt.js is and Why to use it">
        <meta name="author" content="Josh Bavari">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/reveal.min.css">
        <link rel="stylesheet" href="css/theme/night.css" id="theme">
        <link rel="stylesheet" href="css/editable.css">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">
        <script src="http://localhost:35729/livereload.js"></script>


        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
        <style type="text/css">
            /*.reveal .state-background  {
                background-image: url(https://s3.amazonaws.com/uploads.hipchat.com/41403/429435/YgVwok4JIb4sHUr/grunt-slide-idea.jpg);
                background-repeat: no-repeat;
                background-color: #262A2D;
                background-size: 100%;
            }*/
            ul.automate {
                float: left; 
                width: 40%; 
                list-style-type: none !important;
            }

            ul.automate:first {
                margin-left: 20%;
            }

            .grunt_orange {
                color: #e48632;
            }

            .reveal pre {
                font-size: 1.1em !important;
            }

            #edit_changes {
                color: #4C2CC0;
                margin: 5px;
                padding: 30px;
                font-size: 1.3em;
                border-radius: 15px;
                box-shadow: 2px 2px #e48632;
                outline: 0;
            }

            #code_highlight {
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1000;
            }

            #code_highlight pre, #code_highlight code {
                height: 100%;
                width: 100%;
                font-size: 1.5em;
                overflow: auto;
            }
        </style>
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section data-background="https://s3.amazonaws.com/uploads.hipchat.com/41403/429435/0UHOP4UfbAaDxOC/grunt-blank.jpg" data-background-repeat="no-repeat" data-background-position="0 0">
                    <!-- <img src="http://gruntjs.com/img/grunt-logo.png" style="height: 200px; border: 0; background-color: transparent;" /> -->
                    <h3>Grunt.js</h3>
                    <h3>The Javascript Task Runner</h3>
                    <p>
                        <small><a href="http://jbavari.github.com">Josh Bavari</a> / <a href="http://twitter.com/jbavari">@jbavari</a></small>
                    </p>
                </section>

                <section>
                    <h2>Why use a task runner?</h2>
                    <h3>
                        In one word: Automation
                    </h3>

                    <p>
                        <span class="fragment">Stop being the grunt</span><span class="fragment">, use the <span class="grunt_orange">grunt</span>
                    </p>

                    <aside class="notes">
                        Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
                    </aside>
                </section>
                <section>
                    <h2>I typed 'grunt serve'</h2>
                    <p>
                        With that command, Grunt linted my files, 
                        minified CSS &amp; Javascript, ran unit tests, fired up an express 
                        server, and watches any changes to css files to automatically update
                        my browser.
                    </p>
                </section>
                <section>
                    <h2>It's not a 'new' thing</h2>
                    <h2 class="fragment">Its the new thing</h2>
                    <br>

                    <p>You've used some sort of task runner before. Think:</p>

                    <ul>
                        <li>Make</li>
                        <li>Rake</li>
                        <li>Ant / Maven</li>
                        <li>Quartz</li>
                    </ul>
                </section>

                <section>
                    <h2>What can you automate?</h2>

                    <p>
                        (Most) Anything a human can do, Grunt can do (better)
                    </p>

                    <br />

                    <ul class="automate">
                        <li>Minification</li>
                        <li>Compilation</li>
                        <li>Unit Testing</li>
                        <li>Linting</li>
                    </ul>
                    <ul class="automate">
                        <li>Sass or LESS</li>
                        <li>Preprocessing</li>
                        <li>Live-reloading</li>
                        <li>Image resizing</li>
                    </ul>
                    <br>
                    <h4>And more...</h4>
                </section>

                <section>
                    <section>
                        <h2>Anatomy of a Grunt project</h2>

                        <h3>Two main things needed</h3>

                        <ul>
                            <li>A package.json file to list dependencies</li>
                            <li>A Gruntfile to define the tasks</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Anatomy of a package.json file</h2>
                        <p>
                            This file is used by Node.js and list the project dependencies and their versions
                        </p>

                        <pre><code data-trim contenteditable>{
    "name": "AutomateMe",
    "version": "0.1.0",
    "devDependencies": {
        "grunt": "~0.4.2",
        "grunt-contrib-jshint": "~0.6.3",
        "grunt-contrib-nodeunit": "~0.2.0",
        "grunt-contrib-uglify": "~0.2.2"
    }
}
                        </code></pre>
                    </section>
                    <section>
                        <h2>Anatomy of a Gruntfile</h2>

                        <p>
                            A Javascript file that wraps a grunt function and configures a series of plugins. Any valid javascript can go here.
                        </p>
                    </section>
                    <section>

                        <h3>A Gruntfile has:</h3>

                        <ul>
                            <li>The wrapper function</li>
                            <li>Project and task configuration</li>
                            <li>Loading Grunt plugins and tasks</li>
                            <li>Custom tasks</li>
                            <li>Other Javascript as needed</li>
                        </ul>
                    </section>
                    <section>
                        <h2>The wrapper function</h2>
                        <p>Every Gruntfile (and gruntplugin) uses this basic format, and all of your Grunt code must be specified inside this function:</p>
                        <pre><code data-trim contenteditable>
module.exports = function(grunt) {
  // Do grunt-related things in here
};
                        </code></pre>
                    </section>
                    <section>
                        <h2>Project and task configuration</h2>
                        <p>Most Grunt tasks rely on configuration data defined in an object passed to the grunt.initConfig method. The <% %> template strings may reference any config properties, configuration data like filepaths and file lists may be specified this way to reduce repetition</p>
                        <pre><code data-trim contenteditable>
grunt.initConfig({
    foo_files: ['./*.js'],
    bar_files: ['./*.css'],
    //concat config for concatenating files
    //command line via 'grunt concat'
    concat: {
        foo: {
          // concat task "foo" target options and files go here.
          files: '<%= foo_files %>'
        },
        bar: {
          // concat task "bar" target options and files go here.
          files: '<%= bar_files %>'
        },
    },
}
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Loading Grunt Plugins and Tasks</h2>
                        <p>Any plugins you use or tasks you want to import, you use as such:</p>

                        <pre><code data-trim contenteditable>
// Load the plugin that provides the "concat" task.
grunt.loadNpmTasks('grunt-contrib-concat');

//Register the task to run
grunt.registerTask('compile', ['clean', 'concat', 'jshint', 'karma', 'uglify', 'preprocess', 'shell:build']);

//OPTIONAL
//Loads .js files in ./tasks directory
grunt.loadTasks("tasks");

//tasks folder - compile.js
module.exports = function(grunt) {
 
    grunt.registerTask('compile', ['clean', 'concat', 'jshint', 'karma', 'uglify', 'preprocess', 'shell:build']);

};
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Custom Tasks</h2>
                        <p>You can define custom tasks with Javascript or multiple tasks with targets</p>
                        <pre><code data-trim contenteditable>
module.exports = function(grunt) {

  // A very basic default task.
  grunt.registerTask('log', 'Log some stuff.', function() {
    grunt.log.write('Logging some stuff...').ok();
  });

};
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Multi Tasks</h2>

                        <pre><code data-trim contenteditable>
grunt.initConfig({
  log: {
    foo: [1, 2, 3],
    bar: 'hello world',
    baz: false
  }
});

grunt.registerMultiTask('log', 'Log stuff.', function() {
  grunt.log.writeln(this.target + ': ' + this.data);
});
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Grunt Options</h2>
                        <p>You can think of Grunt options as the command line parameters you pass to grunt for calling tasks. They can be used anywhere in </p>
                        <pre><code data-trim contenteditable>
module.exports = function(grunt) {

    //grunt express --host=server.raisemore.com
    var host = grunt.option('host');
};
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Gruntfile complete example</h2>
                        <pre><code data-trim contenteditable>module.exports = function(grunt) {

//Standard javascript - retrieve a command line parameter
//Say the user typed 'grunt --foo=bar'
var foo = grunt.option('bar') || 'fubar';

  grunt.initConfig({
    // Arbitrary non-task-specific properties.
    my_property: 'whatever',
    our_file_list: ['./js/*.js'],
    pkg: grunt.file.readJSON('package.json'),
    // jshint task configuration here - you can specify several targets per task 
    jshint: {
      all: {
        options: {
          smarttabs: false //specify options for just this target
        }, 
        files: '<%= our_file_list %>' //Special Grunt syntax to get a config variable
      },
      just_a_few: {
        files: ['./js/index.js', './js/nav.js']
      }
      // specify global options for all targets
      options: {
        smarttabs: true,
        eqnull: true,
        eqeqeq: false
      }
    }
  }
});

  // Load the plugin that provides the "jshint" task.
  grunt.loadNpmTasks('grunt-contrib-jshint');

  // Default task(s).
  grunt.registerTask('default', ['jshint']);

  grunt.registerTask('custom', 'This is how you define a custom task.', function(arg1, arg2){
    //Javascript here folks
  });

};
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Getting started is easy</h2>

                        <ul>
                            <li>Install Grunt</li>
                            <li>Create Gruntfile.js</li>
                            <li>Create package.json</li>
                        </ul>
                    </section>
                    <section>
                        <h2>Installing Grunt</h2>

                        <p>
                            Grunt mainly runs from its command line interface in the working directory the Gruntfile
                        </p>

                        <pre><code data-trim>
                            npm install -g grunt-cli
                        </code></pre>
                    </section>
                    <section>
                        <h2>Working with existing Grunt project</h2>

                        <p>
                            If your working directory has a Gruntfile - just install project dependencies and view the defined tasks!
                        </p>

                        <pre><code data-trim>
                            npm install
grunt --help
                        </code></pre>
                    </section>

                    <section>
                        <h2>Preparing a new Grunt project</h2>

                        <p>Create your package.json file - contains all project depenencies</p>

                        <pre><code data-trim>npm init</code></pre>
                    </section>
                    <section>
                        <h2>Create your Gruntfile</h2>

                        <p>
                            Here I'd recommend taking the sample Gruntfile from their website, and start adding in tasks as you see fit
                        </p>
                    </section>

                </section>

                <section>
                    <section>
                        <h2>Adding Plugins is easy too</h2>

                        <p>Find the plugin you want to use, and just run npm install</p>

                        <pre><code>//We use the --save-dev flag to save this entry to our package.json file
npm install grunt-contrib-uglify --save-dev</code></pre>
                    </section>
                    <section>
                        <h2>Register the plugin in Gruntfile</h2>

                        <p>Now that we added a plugin via npm, we must include in Gruntfile<p>

                        <pre><code>grunt.loadNpmTasks('grunt-contrib-watch');</code></pre>
                    </section>
                </section>
                <section>
                    <h2>Lets get dirty in the mud</h2>

                    <p>The best thing about Grunt is the hundreds of plugins that are easy to configure and use. Lets dive in a few common tasks</p>
                </section>
                <section>
                    <section>
                        <h2>Code Minification with UglifyJS</h2>

                        <p>Install the plugin</p>
                        <pre><code>npm install grunt-contrib-uglify --save-dev</code></pre>
                    </section>
                    <section>

                        <h2>Configure the plugin &amp; load npm task</h2>

                        <pre><code data-trim contenteditable>//...snip previous config...
  uglify: {
    subset: {
      files: {
        'dest/output.min.js': ['src/input1.js', 'src/input2.js']
      }
    },
    all: {
      files: {
        'dest/all.min.js': ['']
      }
    }
  }
});

grunt.loadNpmTasks('grunt-contrib-uglify');
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Run the task!</h2>

                        <pre><code>grunt uglify</pre></code>
                        <p>Specify which uglify task target to run</p>
                        <pre><code>grunt uglify:subset
grunt uglify:all</pre></code>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Getting Sassy</h2>

                        <p>Just like we saw at Thunder Plains, we can use Sass with the sass ruby gem and the grunt sass plugin.</p>

                        <pre><code>gem install sass
    npm install grunt-contrib-sass --save-dev</code></pre>
                    </section>
                    <section>
                        <h2>Put the sassy pants on</h2>
                        <pre><code data-trim contenteditable>sass: {
  dist: {
    files: {
      './src/stylesheets/styles.css': './src/stylesheets/styles.scss'
    }
  }
}
                        </pre></code>
                    </section>
                    <section>
                        <h2>Run it</h2>
                        <pre><code>grunt sass</code></pre>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Automation on File Modification</h2>

                        <p>
                            Lets watch our SASS / JS / CSS files and when they change, automatically compile or minify.
                        </p>
                    </section>
                    <section>
                        <h2>Grunt Watch Plugin</h2>
                        <p>
                            Using the Grunt Watch plugin, we can monitor file changes and execute tasks on file change events.
                        </p>

                        <pre><code>//Command Line to install plugin
    npm install grunt-contrib-watch --save-dev

    //Gruntfile to load plugin
    grunt.loadNpmTasks('grunt-contrib-watch');
                        </code></pre>
                    </section>
                    <section>
                        <h2>Gruntfile Config for Watch</h2>
                        <pre><code data-trim contenteditable>// ...snip prior config...
watch: {
  main: {
    files: [ 'Gruntfile.js', 'js/reveal.js', 'css/reveal.css' ],
    tasks: 'default'
  },
  edits: {
    files: [ 'css/editable.css' ],
    options: {
      livereload: 35729,
    }
  }
},
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>LiveReload</h2>

                        <p>Include livereload.js file - server pushes file changes to browser</p>

                        <div id="editable_css">
                            #editable_css - edit my css below and watch me change
                        </div>

                        <pre><code id="edited_css" data-trim contenteditable>/* Edit the CSS here and click save to live reload */
#editable_css {
    color: white;
    border: solid 1px red;
}
                        </pre></code>
                        <button id="edit_changes" class="grunt_orange">Click me to update CSS with LiveReload</button>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Automating Unit Testing</h2>
                        <p>Grunt has a wide variety of plugins to assist with testing. Perhaps a good solution would be to set up watch to see any javascript changes, and on those changes execute the unit tests</p>
                    </section>
                    <section>
                        <h2>Jasmine</h2>
                        <p>Run jasmine specs headlessly through PhantomJS.</p>
                        <pre><code data-trim contenteditable>
  jasmine: {
    pivotal: {
      src: 'src/**/*.js',
      options: {
        specs: 'spec/*Spec.js',
        helpers: 'spec/*Helper.js'
      }
    }
  }
                    </code></pre>
                    <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>QUnit</h2>
                        <p>Run QUnit unit tests in a headless PhantomJS instance.</p>
                        <pre><code data-trim contenteditable>
// Project configuration.
grunt.initConfig({
  qunit: {
    all: ['test/**/*.html']
  }
});
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Karma</h2>
                        <p>Run all your unit tests for Jasmine/QUnit/Mocha through multiple browsers Chrome/Firefox/Safari/Phantom</p>

                        <pre><code data-trim contenteditable>
karma: {
  options: {
    configFile: 'karma.conf.js',
    runnerPort: 9999,
    browsers: ['Chrome', 'Firefox']
  },
  continuous: {
    singleRun: true,
    browsers: ['PhantomJS']
  },
  dev: {
    reporters: 'dots'
  }
}
                        </pre></code>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                </section>

                <section>
                    <h2>Git Hooks</h2>
                    <p>It is worth mentioning that there is a Grunt plugin for Git-hooks - enforce testing on users before they commit.</p>
                    <pre><code data-trim contenteditable>
githooks: {
    all: {
        'pre-commit': 'test'
    }
}
                    </code></pre>
                    <button class="code_enlarge">Enlarge</button>
                </section>
                <section>
                    <section>
                        <h2>Image Tasks</h2>
                        <p>Say you want to resize images, or minify them. There are Grunt Plugins for those.</p>
                    </section>
                    <section>
                        <h2>Image resizing</h2>
                        <pre><code data-trim contenteditable>
image_resize: {
  android_small: {
    options: {
      height: 426,
      width: 320
    },
    files: {
      //Destination : source
      './android/res/drawable/splash.png': resize_file
    }
  },
  android_normal: {
    options: {
      height: 470,
      width: 320
    },
    files: {
      //Destination : source
      './android/res/drawable-mdpi/splash.png': resize_file

    }
  },
  android_large: {
    options: {
      height: 640,
      width: 480
    },
    files: {
      //Destination : source
      './android/res/drawable-ldpi/splash.png': resize_file,
      './android/res/drawable-hdpi/splash.png': resize_file
    }
  }
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                    <section>
                        <h2>Image Minification</h2>
                        <pre><code data-trim contenteditable>
imagemin: {
    static: {
      options: {
        optimizationLevel: 3
      },
      files: {
        'dist/img.png': 'src/img.png', // 'destination' : 'source'
        'dist/img.jpg': 'src/img.jpg',
        'dist/img.gif': 'src/img.gif'
      }
    },
    dynamic: {
      files: [{
        expand: true,
        cwd: 'src/', 
        src: ['**/*.{png,jpg,gif}'],
        dest: 'dist/'
      }]
    }
  }
                        </code></pre>
                        <button class="code_enlarge">Enlarge</button>
                    </section>
                </section>

                <section>
                    <h2>Now, write your own</h2>

                    <p>Theres a Yeoman generator to help you write your own Grunt plugins - https://github.com/yeoman/generator-gruntplugin</p>
                </section>

                <section>
                    <h2>References</h2>

                    <ul>
                        <li><a href="http://jbavari.github.io/">My blog with a few Grunt automation posts</a></li>
                        <li><a href="http://www.thomasboyt.com/2013/09/01/maintainable-grunt.html">More maintainable grunt files</a></li>
                        <li><a href="http://flippinawesome.org/2013/09/23/automating-complex-workflows-with-grunt-custom-tasks/">Automating complex workflows with grunt custom tasks</a></li>
                        <li><a href="http://viget.com/extend/grunt-getting-started-with-git-hooks">Grunt: getting started with git hooks</a></li>
                        <li><a href="https://github.com/cowboy/wesbos/commit/5a2980a7818957cbaeedcd7552af9ce54e05e3fb">Split grunt files into per-task files</a></li>
                    </ul>

            </div>

        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.min.js"></script>
        <script src="js/jquery.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                // Parallax scrolling
                // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
                // parallaxBackgroundSize: '2100px 900px',

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

            // Reveal.addEventListener( 'slidechanged', function( event ) {
            //     $slide = $(event.currentSlide);
            //     if( $slide.data('chart-built') ){ return; }
            //     // if( $slide.data('chart-group') == 'bar' ){
            //     //   setTimeout(function(){
            //     //     Batches.initBarChartGroup( '#' + $slide.attr('id'), $slide.data('json') );
            //     //   },550);
            //     // }else if( $slide.data('chart-group') == 'scatter' ){
            //     //   setTimeout(function(){
            //     //     Batches.initScatterChartGroup( '#' + $slide.attr('id'), $slide.data('json') );
            //     //   },550);
            //     // }
            //     drawGraph();
            //     $slide.data('chart-built',true);
            //     // event.previousSlide, event.currentSlide, event.indexh, event.indexv
            // } );

        var codeHighlight = false;

        $(function(){
            $(document).on("click", "#edit_changes", function() {
                var edited_css = $("#edited_css").text();

                $.ajax({
                  type: "POST",
                  url: "/edit",
                  data: {css: edited_css},
                  success: function(){},
                  dataType: "json"
                })
            });

            $(document).on("click", ".code_enlarge", function(e) {
                var code = $(this).parent().find("code");
                $("#code_highlight").css("display", "block");
                $("#code_highlight").find("code").text(code.text());
                codeHighlight = true;
                hljs.highlightBlock($("#code_highlight").find("code")[0]);
                e.preventDefault();
                return false;
            });

            $(document).on("click", "#code_close", function(e){
                if(codeHighlight) {
                    $("#code_highlight").css("display", "none");
                    codeHighlight = false;
                }
                e.preventDefault();
                return false;
            });
        })

        </script>

        <div id="code_highlight" style="display: none">
            <pre><code data-trim contenteditable>
            </code></pre>

            <button id="code_close" style="position: absolute; top: 0; right: 100px;">Close</button>
        </div>

    </body>
</html>
